[Unit]
Description=Aloestelam ASP.NET Core Web App
After=network.target

[Service]
WorkingDirectory=/var/www/aloestelam/current
ExecStart=/usr/bin/dotnet /var/www/aloestelam/current/Aloestelam.Web.dll
Restart=always
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=aloestelam
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:5090
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
